[Unit]
Description=Shutup, Gnome!

[Service]
Type=oneshot
ExecStart=/usr/bin/gsettings set org.gnome.desktop.notifications show-banners false
Environment="DISPLAY=:0"
User={{ user }}
Group={{ group }}
