[Unit]
Description=Shutup, Gnome!

[Service]
Type=oneshot
ExecStart=/usr/bin/gsettings set org.gnome.desktop.notifications show-banners false
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
User={{ user }}
Group={{ group }}
